.container-fluid
    .rounded.shadow#chatContainer.fixed-bottom
        button#toggleChat.btn.btn-dark Chat Interno
            span.contador.ms-1.rounded
        form#chatBox.container.form-control
            .chat
                div#recibido.container
                input#mensaje.border.border-solid.rounded(type="text" placeholder="Escriba su mensaje")
                button#enviarMensaje.btn.btn-primary.ms-2(type="submit") Enviar


footer.container.text-center.mt-3
    p © #{titulo}

//- script(src="/js/index.js" defer)