include head
include navBar

div.container
    h1 Gestion de Muestras para el Paciente: #{pacienteEncontrado.nombre} #{pacienteEncontrado.apellido} 

include tablaMuestras


include footerChat
script(src="/js/tablaMuestras.js" defer)