include head
div#fondoLaboratorio.container-fluid
    form.container.p-1.mb-5
        h1 Recuperaci칩n de Contrase침a

        div.container.form-group.mt-3
            label(for="email") Correo Electr칩nico:
            input.form-control(type="email" placeholder="Ingrese su correo" name="email" id="email")

        div.text-center.mt-3
            button.btn.btn-primary(type="submit" formaction="/error") Recuperar Contrase침a


    footer.text-xxl-end.fs-5.mt-5
        p #{titulo} 