.container-fluid
    .row
        table#tablaGenerica.table.table-striped
            caption Muestras
            thead
                tr
                    th Tipo de muestra
                    th Nombre Paciente
                    th Numero de Orden
                    th Creado Por
                    th Editar muestra
            tbody#tablaGenerica

#formularioMuestra.modal.fade(data-bs-backdrop="static" aria-hidden="false" aria-labelledby="modalMuestraLabel" tabindex='-1' role='dialog')
    .modal-dialog.modal-xl(role='document')
        .modal-content
            .modal-header
                h5.modal-title Formulario de Analisis - carga de muestra
            .modal-body
                form#formularioMuestra
                    .form-group
                        input(type="hidden" id="idMuestra" value="")
                    .form-group
                        label(for="tipoMuestra") Tipo de Muestra:
                        select.form-control(type="number" id="id_tipoMuestra" name="id_tipoMuestra", required)
                    .form-group
                        label(for="Orden") Orden:
                        select.form-control(type="number" id="id_orden" name="id_orden")
                    .form-group
                        label(for="Usuario") Usuario:
                        select.form-control(type="number" id="id_usuario" name="id_usuario")
                    .modal-footer
                        button.btn.btn-primary(type="button" onclick="guardar_actualizarMuestra()") Guardar
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cerrar