.container-fluid
    .row
        table#tablaGenerica.table.table-striped
            caption Analisis
            thead
                tr
                    th Orden
                    th Examenes
                    th Estado
                    th Descripcion
                    th Muestra
            tbody#tablaGenerica


