.container-fluid
    .row
        table#tablaGenerica.table.table-striped
            caption Ordenes
            thead
                tr
                    th Numero de orden
                    th Nombre Paciente
                    th Diagnostico
                    th Estado
                    th fecha de Resultado
                    th observacion
                    th Creado Por
            tbody#tablaGenerica