.container-fluid
    .row
        table#tablaGenerica.table.table-striped
            caption Valores de Referencia
            thead
                tr
                    th Genero
                    th Edad Minimia
                    th Edad Maxima
                    th Valor Minimo
                    th Valor Maximo
                    th Embarazo
                    th Acciones
            tbody#tablaGenerica
.container.my-4
    button#btnValor.btn.btn-primary.btn-sm(type="button" data-toggle="modal" onclick="formularioValoresReferencia()") Agregar nuevo valor



#formularioValoresReferencia.modal.fade(data-bs-backdrop="static" aria-hidden="false" aria-labelledby="modalValoresReferenciaLabel" tabindex='-1' role='dialog')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Formulario nuevos Valores de referencia
            .modal-body
                form#formularioValoresReferencia
                    .form-group
                        input(type="hidden" id="idValorReferencia" value="")
                    .form-group
                        label(for="nombre") Genero:
                        select.form-control(type="text" id="genero" name="genero", required)
                            option(value="F") Femenino
                            option(value="M") Masculino
                            option(value="ambos") Ambos
                    .form-group
                        label(for="edadMin") Edad Minima:
                        input.form-control(type="number" id="edadMin" name="edadMin" step="1" min="0")
                    .form-group
                        label(for="edadMax") Edad Maxima:
                        input.form-control(type="number" id="edadMax" name="edadMax" step="1" min="0")
                    .form-group
                        label(for="valorMin") Valor minimo de medida:
                        input.form-control(type="number" id="valorMin" name="valorMin" step="0.01" min="0")
                    .form-group
                        label(for="valorMax") Valor maximo de medida:
                        input.form-control(type="number" id="valorMax" name="valorMax" step="0.01" min="0")
                    .form-group
                        label(for="embarazo") Embarazo?:
                        select.form-control(id="embarazo" name="embarazo")
                            option(value="si") Si
                            option(value="no") No
                    .modal-footer
                        button.btn.btn-primary(type="button" onclick="guardar_actualizarValoresReferencia()") Guardar
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cerrar


